html {
    box-sizing: border-box;
    font-size: 62.5%;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1.6rem;
    background-color: cadetblue;
}

img {
    max-width: 100%;
}

h1 {
    font-size: 4rem;
}

.contenedor {
    max-width: 120rem;
    margin: 0 auto;
    background-color: bisque;
}

.entrada a {
    display: inline-block;
    background-color: cornflowerblue;
    color: black;
    padding: 1rem 2rem;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;

}



@media (min-width:480px) {
    body {
        background-color: bisque;
    }
}

.entrada img {
    display: none;
}

@media (min-width:768px) {
    body {
        background-color: rgb(145, 112, 142);
    }
}


@media (min-width:1140px) {
    body {
        background-color: rgb(74, 177, 96);
    }
}


@media (min-width:1400px) {
    body {
        background-color: rgb(247, 243, 55);
    }
}

.entrada img {
    display: inline;
}

.contenedor {
    background-color: rgb(210, 102, 30);
}


.conBox {
    width: 60rem;
    height: 60rem;
    background-color: blueviolet;
}

.sinBox {
    width: 60rem;
    height: 60rem;
    background-color: darkgray;
    padding: 2rem;
    border: 3rem solid orange;
}